*.log*
node_modules/
dist/
doc_build/
build/
coverage/
core/src/index.ts
next-env.d.ts
.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json
.DS_Store
.turbo
.idea/
.local/
.temp/
.rslib/
.rspress/
.cache/
.biome-cache/
.contentlayer
.content-collections
.source
.next
*.tsbuildinfo
*.bak
*.backup
*.old
*.7z
*.dmg
*.gz
*.iso
*.tgz
*.jar
*.rar
*.tar
*.zip
Thumbs.db
