name: Version

on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      channel:
        type: choice
        description: 'Version tag'
        required: true
        default: 'latest'
        options:
          - alpha
          - beta
          - rc
          - latest
      branch:
        description: 'Branch to release'
        required: true
        default: 'main'

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      published: ${{ steps.version.outputs.published }}
      channel: ${{ steps.version.outputs.channel || inputs.channel || 'latest' }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - name: Create Release
        id: version
        uses: oljc/release@c81f1c4637fbfbdcdb6ab6ddad7fdca2646af7df # v1
        env:
          API_TOKEN: ${{ secrets.MODEL_TOKEN }}
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          channel: ${{ inputs.channel || 'latest' }}
          branch: ${{ inputs.branch || 'main' }}
          version-file: 'core/package.json'
          changelog-en: 'core/CHANGELOG.md'
          changelog-zh: 'core/CHANGELOG.zh.md'
          translate: 'true'

  publish:
    needs: release
    if: github.repository == 'oljc/checkis' && needs.release.outputs.published == 'true'
    runs-on: ubuntu-latest
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 1
          ref: ${{ github.ref }}

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        name: Install pnpm
        with:
          run_install: false

      - name: Setup
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: pnpm install

      - name: Publish Prepare
        run: pnpm run publish

      - name: Publish
        run: pnpm publish ./dist --tag ${{ needs.release.outputs.channel }} --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
