name: Test

on:
  push:
    branches: ["main"]
    paths:
      - "core/**"
      - "scripts/**"
      - "pnpm-lock.yaml"
      - "package.json"
  pull_request:
    branches: ["*"]
    paths:
      - "core/**"
      - "scripts/**"
      - "pnpm-lock.yaml"
      - "package.json"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 1

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Generate code
        run: pnpm run gen

      - name: Build
        run: pnpm run build

      - name: Run tests
        run: pnpm run test
